.ConcertInfo {
  /* background-color: chartreuse; */
  min-height: 100vh;
  margin: 0;
  /* padding-bottom: 5%; */

  background-attachment: fixed;
}

.ConcertInfo header {
  padding-top: 1px;
  /* position: fixed; */
}

.ConcertInfo button {
  color: blue;
  border: 2px solid blue;
  background-color: white;
  width: 80%;
  margin: 10%;
  padding: 10px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.concert-card {
  background-color: white;
  color: #242424;
  margin: 5%;
  padding: 5% 0;
  border-radius: 5px;
  /* position: absolute; */
  /* top: 50vh; */
  min-height: 380px;
}

/* PHOTO CAROUSSEL DISPLAY */
.inline-small-carousel {
  /* padding-top: 55vh; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  /* position: fixed; */
  margin-left: 0;
}

.inline-small-card {
  margin: 10% 0;
  background-size: cover;
  border-radius: 5px;
  flex-wrap: nowrap;
  flex-shrink: 0;
  min-width: 100px;
  margin-left: 15px;

  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.inline-small-card img {
  border-radius: 0 0 5px 5px;
  height: 200px;
  z-index: 6;
  margin-bottom: 0%;
}

.artist-header {
  width: 80%;
  margin: 15vh 10%;
  background-color: white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
  z-index: 5;
}

.artist-header img {
  width: 200px;
  height: 200px;
  margin-top: -50px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  z-index: 6;
}

.genre-sec {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 10% 0;
}

.genre-sec > div {
  background-color: tomato;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 2%;
  width: 35%;
  border-radius: 25px;
  text-align: center;
}

.summary {
  word-wrap: break-word;
}

.bk-img {
  width: 100%;
  z-index: 3;
  filter: blur(5px);
  position: absolute;
  top: 0;
}
