.profilPic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
}

.img-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.Connected .AttendingEvent {
  /* height: 50vh; */
  background-image: linear-gradient(
      rgba(255, 127, 80, 0.8) 0%,
      rgba(255, 127, 80, 0.8) 50%
    ),
    url("https://images.unsplash.com/photo-1497911270199-1c552ee64aa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 5%;
  margin: 0 5%;
  color: white;
}
.Connected .AttendingEvent h1 {
  padding-right: 10%;
}

/* SMALL CARDS FOR SEC 2 */

.Connected .small-card {
  width: 40%;
  max-width: 200px;
  height: 200px;
  padding: 10px 10px;
  margin: 3% 0;
  background-image: linear-gradient(
      rgba(0, 40, 250, 0.6) 0%,
      rgba(0, 40, 250, 0.6) 80%
    ),
    url("https://images.unsplash.com/photo-1486546910464-ec8e45c4a137?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=702&q=80");
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.Connected .flex-small-cards {
  margin: 5% 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  /* align-content: flex-start; */
}

.outline-text-black {
  background-color: white;
  color: silver;
  padding: 5px 10px;
  border: 1px solid silver;
  border-radius: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* .small-card h3,
p {
  margin: 0;
  padding: 0;
} */
