/* FONTS, SIZE AND COLORS */
/* ---------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Lora:400i|Montserrat:900|Raleway");

.App {
  background-color: #242424;
  color: aliceblue;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
}
.App p,
h1,
h2,
h3,
h4,
small,
hr,
span {
  margin: 5% 10% 0;
}

/* .body {
  padding: 5%;
} */

.App h1 {
  font-size: 1.7em;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

.App h2 {
  font-size: 1.3em;
  line-height: 1.3em;
  font-family: "Lora", serif;
}
.App h3 {
  font-size: 1.2em;
  line-height: 1.2em;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

.App h4 {
  font-size: 1em;
  font-family: "Lora", serif;
}

.App a,
button {
  font-family: "Raleway", sans-serif;
  color: aliceblue;
  text-decoration: none;
}

.App small {
  color: #707070;
  text-align: center;
}

footer {
  margin: 5vh 0 0 0;
  padding: 5%;
  text-align: center;
  background-color: black;
}

/* SEPARATORS */

.App hr {
  border: 0.5px solid #707070;
}

.App .small-hr {
  width: 50px;
  border: 2px solid blue;
  margin: 10px auto;
}

/* CARDS AND LIST */

.inline-card {
  padding: 12px;
  margin: 10% 20% 10% 0%;
  height: 200px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.2) 80%
    ),
    url("https://picsum.photos/500/300/?random");
  border-radius: 10px;
  flex-wrap: nowrap;
  flex-shrink: 0;
  width: 80%;
  min-width: 300px;
  margin-left: 15px;
}

.inline-card p {
  top: 10px;
}

.inline-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.outline-text {
  border: 1px solid aliceblue;
  padding: 5px 10px;
  border-radius: 15px;
}

/* .column-card-flex {
  display: flex;
} */

.column-card {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.3) 80%
    ),
    url("https://picsum.photos/500/500/?random");
  background-size: cover;
  border-radius: 10px;
  margin: 5%;
  padding: 2% 0;
  text-align: center;
  max-width: 400px;
  min-width: 200px;
}

/* FOR IMAGED CARDS ONLY */

.column-card-with-image {
  background-color: white;
  border-radius: 10px;
  margin: 5% 5% 5% 20%;
  padding: 2% 0;
  color: #242424;
  position: relative;
  height: 120px;
}
.column-card-with-image img {
  width: 100px;
  margin-left: -50px;
  margin-top: 10px;
  border-radius: 10px;
}

.column-card-with-image .column-card-with-image-text {
  position: absolute;
  top: 5%;
  right: 3%;
  /* padding-left: 0px; */
  text-align: right;
}
